<ul class="c1">
    <li><a href="/">Home</a></li>
    <li><a href="/Login">Log in</a></li>
    <li><a href="/profile/Tushar">Profile</a></li>
</ul>
<link rel="stylesheet" href="../views/Common_CSS/Style.css">